* {
  margin: 0;
  padding: 0;
  color: #fff; }

body {
  background-color: #fff; }

.landing-logo {
  display: flex;
  align-items: center;
  margin-bottom: 35px; }
  .landing-logo p {
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Fresca', sans-serif;
    color: #000; }
    .landing-logo p span {
      color: inherit;
      display: block;
      font-size: 10px;
      text-align: center; }

header {
  background: center url(../img/m-h-day.jpg) no-repeat;
  background-size: cover;
  padding: 15px 10% 105px;
  border-radius: 0 0 40% 0; }
  header .header-wrap {
    width: 500px; }
    header .header-wrap:before {
      content: '';
      display: block;
      background-color: #14A0C7;
      position: absolute;
      top: 180px;
      height: 32px;
      width: 210px; }
  header .header_heading {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 25px;
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    color: #000; }
  header .header_text {
    font-size: 13px;
    white-space: pre-line;
    font-family: 'Fresca', sans-serif;
    line-height: 20px;
    color: #000;
    margin-bottom: 25px; }
  header .header_button {
    background-color: #699900;
    padding: 10px 35px;
    border: none;
    font-size: 1em;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer; }
  header .login {
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 100px; }

main {
  position: relative; }
  main:before {
    content: '';
    display: block;
    background-color: #14A0C7;
    position: absolute;
    width: 125px;
    height: 30px;
    left: 50%;
    transform: translateX(5px);
    top: 20px; }
  main .section_text {
    text-align: center;
    font-size: 28px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    padding: 20px 0px;
    color: #000;
    position: relative; }
  main .section_card {
    background-color: #21232E;
    padding: 10px;
    border-radius: 5px;
    width: 55%;
    margin: 0 auto 15px;
    display: flex; }
    main .section_card .section_card_img {
      border-radius: 5px;
      flex-basis: 50%;
      height: 264px; }
    main .section_card .section_card_right_container {
      flex-basis: 50%;
      padding: 0 80px;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      main .section_card .section_card_right_container .section_card_heading {
        text-align: center;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: bold;
        font-size: 22px; }
      main .section_card .section_card_right_container .section_card_text {
        text-align: justify;
        font-family: 'Fresca', sans-serif;
        color: #b3b3b3; }
      main .section_card .section_card_right_container .section_link {
        font-family: 'Source Sans Pro', sans-serif;
        text-align: center;
        color: #b3b3b3; }
  main .section_banner {
    width: 60%;
    border-radius: 5px;
    margin: 0 auto;
    background-image: linear-gradient(90deg, #65940E, #305ECF);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
    margin-top: 80px;
    transform: translateY(50%); }
    main .section_banner .section_banner_text_wrap {
      position: relative; }
      main .section_banner .section_banner_text_wrap::before {
        content: '';
        display: block;
        background-color: #14A0C7;
        position: absolute;
        transform: translateY(-10px);
        height: 40px;
        width: 55px;
        left: 103px; }
      main .section_banner .section_banner_text_wrap .section_banner_heading {
        position: relative;
        font-weight: bold;
        font-size: 25px;
        font-family: 'Hind', sans-serif; }
      main .section_banner .section_banner_text_wrap .section_banner_text {
        font-family: 'Fresca', sans-serif;
        color: #b3b3b3; }
    main .section_banner .section_banner_button {
      background-color: #699900;
      padding: 10px 35px;
      border: none;
      font-size: 1em;
      font-family: 'Source Sans Pro', sans-serif;
      border-radius: 3px;
      font-weight: bold;
      cursor: pointer; }

footer .footer-wrap {
  display: flex;
  justify-content: space-around;
  background-color: #21232E;
  padding: 110px 0 20px; }
  footer .footer-wrap .footer_logo p {
    color: #b3b3b3; }
  footer .footer-wrap .footer-cr, footer .footer-wrap .footer_text {
    font-family: 'Fresca', sans-serif;
    color: #b3b3b3; }
  footer .footer-wrap .footer_text {
    flex-basis: 300px;
    font-size: 13px; }
