* {
    margin: 0;
    padding: 0;
    color: #fff;
}

@mixin butn {
    background-color: $btn_color;
    padding: 10px 35px;
    border: none;
    font-size: 1em;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
}

@mixin link {
    font-family: 'Source Sans Pro', sans-serif;
}

@mixin marcer {
    content: '';
    display: block;
    background-color: $marcer_word;
    position: absolute;
}

body {
    background-color: map-get($bg_colors, all);
}

.landing-logo {
        display: flex;
        align-items: center;
        margin-bottom: 35px;

        p {
            margin-left: 10px;
            font-weight: bold;
            font-size: 20px;
            font-family: 'Fresca', sans-serif;
            color: $text_color;
            span {
                color: inherit;
                display: block;
                font-size: 10px;
                text-align: center;
            }
        }
    }

header {
    background: center $header_image no-repeat;
    background-size: cover;
    padding: 15px 10% 105px;
    border-radius: 0 0 40% 0;

    .header-wrap {
        width: 500px;

        &:before {
            @include marcer;
            top: 180px;
            height: 32px;
            width: 210px;
        }
    }

    

    .header_heading {
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 25px;
        position: relative;
        font-family: 'Source Sans Pro', sans-serif;
        color: $text_color;
    }

    .header_text {
        font-size: 13px;
        white-space: pre-line;
        font-family: 'Fresca', sans-serif;
        line-height: 20px;
        color: $text_color;
        margin-bottom: 25px;
    }

    .header_button {
        @include butn();
    }
    .login {
        @include link();
        margin-left: 100px;
    }
}

main {
    position: relative;

    &:before {
        @include marcer;
        width: 125px;
        height: 30px;
        left: 50%;
        transform: translateX(5px);
        top: 20px;
    }

    .section_text {
        text-align: center;
        font-size: 28px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 600;
        padding: 20px 0px;
        color: $text_color;
        position: relative;
    }
        
    .section_card {
        background-color: map-get($bg_colors, card_footer);
        padding: 10px;
        border-radius: 5px;
        width: 55%;
        margin: 0 auto 15px;
        display: flex;

        .section_card_img {
            border-radius: 5px;
        }

        .section_card_right_container {
            padding: 0 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .section_card_heading {
                text-align: center;
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: bold;
                font-size: 22px;
            }

            .section_card_text {
                text-align: justify;
                font-family: 'Fresca', sans-serif;
                color: darken(#fff, 30%);
            }

            .section_link {
                @include link();
                text-align: center;
                color: darken(#fff, 30%);
            }
        }
    }

    .section_banner {
        width: 60%;
        border-radius: 5px;
        margin: 0 auto;
        background-image: $banner_bg;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 30px 0;
        margin-top: 80px;
        transform: translateY(50%);

        .section_banner_text_wrap {
            position: relative;
            &::before {
                @include marcer();
                transform: translateY(-10px);
                height: 40px;
                width: 55px;
                left: 103px;
            }

            .section_banner_heading {
                position: relative;
                font-weight: bold;
                font-size: 25px;
                font-family: 'Hind', sans-serif;
            }
    
            .section_banner_text {
                font-family: 'Fresca', sans-serif;
                color: darken(#fff, 30%);
            }
        }

        .section_banner_button {
            @include butn();
        }
    }
}

footer {
    .footer-wrap {
        display: flex;
        justify-content: space-around;
        background-color: map-get($bg_colors, card_footer);
        padding: 110px 0 20px;

        .footer_logo p{
            color: darken(#fff, 30%);;
        }

        .footer-cr {
            font-family: 'Fresca', sans-serif;
            color: darken(#fff, 30%);
        }

        .footer_text {
            @extend .footer-cr;
            flex-basis: 300px;
            font-size: 13px;
        }
    }
}