* {
    margin: 0;
    padding: 0;
}
p, a {
    color: #777;
}

header .sidebar_wrap {
    height: 75px;
}
header .sidebar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 25px 250px;
    box-sizing: border-box;
    width: 100%;
    background-color: #fff;
}
header .header_name {
    text-transform: uppercase;
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 3px;
}

header .navbar ul {
    list-style-type: none;
    display: flex;
}
header .navbar ul a{
    text-decoration: none;
    padding: 0 20px;
    font-size: 18px;
    letter-spacing: 2px;
}
header .navbar ul a:hover{
    color: #bfba55;
}

header .header-content {
    background: url(../img/home-bg.jpg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header .header-content h1 {
    margin-top: 380px;
    color: #fff;
    font-size: 85px;
}
header .header-content p {
    margin-top: 30px;
    font-size: 19px;
    color: #bfba55;
    font-weight: 600;

}
header .header-content button {
    border: none;
    border-radius: 32px;
    color: #777;
    background-color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 30px;
    margin: 50px 0 300px;
    cursor: pointer;
}

main .cards_wrap {
    min-width: 900px;
    width: 60%;
    margin: 20px auto;
}

main .card {
    margin: 90px 0 60px;
}
main .card .section_card_img {
    width: 100%;
}
main .card h2 {
    margin: 40px 0 15px;
    font-size: 29px;
}
main .card_data {
    display: flex;
    align-items: center;
}
main .card_data img {
    width: 40px;
    border-radius: 50%;
    margin-right: 8px;
}
main .card_data p {
    margin-right: 20px;
}
main .card_text {
    font-size: 17px;
    line-height: 25px;
    margin: 22px 0 40px;
}
main .card_btn {
    border:1px solid #777;
    border-radius: 24px;
    background-color: #fff;
    padding: 15px 20px;
    font-weight: bold;
    font-size: 16px;
    color: #777;
    cursor: pointer;
}

footer {
    background: #000;
}
footer .section_wrap {
    min-width: 900px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 80px 0 30px;
}
footer .col {
    width: 420px;
}
footer .col h2 {
    font-size: 30px;
    color: #fff;
    margin-bottom: 20px;
}
footer .col p {
    line-height: 20px;
    margin-bottom: 20px;
}
