.bill {
  display: flex;
  justify-content: space-around;
  font-size: 25px;
  text-align: center;

  div {
    width: 200px;
  }

  &__clearBtn {
    padding: 15px 50px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: 3px solid #8F8FFF;
    outline: none;
    background-color: #fff;
    color: #8F8FFF;
    cursor: pointer;

    &:hover  {
      color: #fff;
      background-color: #8F8FFF;
    }
  }
}

.highlight {
  background-color: rgba(96, 96, 255, 0.7);
}


