.dropDown {
    position: relative;
    margin: 0 auto;
    width: 50px;
    cursor: pointer;
}

.dropDown_txt {
    font-size: 20px;
    text-align: right;
}

.dropdown_content {
    display: none;
    position: absolute;
    padding: 5px;
    top: 25px;
    left: -40px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    z-index: 1;
}

.dropDown:hover .dropdown_content {
   display: block
}
.dropdown_content:after, .dropdown_content:before {
    content: '';
    position: absolute;
    left: 60px; top: -30px;
    border: 20px solid transparent;
    border-bottom: 10px solid #ccc;
}
.dropdown_content:after {
    border-bottom-color: #fff;
    top: -29px;
}

.dropDown_link {
    display: block;
    width: 100px;
    color: #828282;
    text-decoration: none;
    cursor: pointer;
    margin: 2px 0;
}
.dropDown_link:hover {
    color: #000;
}

img {
    width: 15px;
    margin-right: 10px;
}

.hide {
    display: none;
}
