@import url(variables.less);

* {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: 0 auto;
    padding: 0;
    max-width: @max_width;
}

.name {
    color: @main_color;
    font-weight: 600;
    padding-bottom: 7px;

    &.under-line {
        border-bottom: 1px solid @main_color;
    }
}

.navbar {
    padding: 0 @padd_size;

    .nav-item {
        padding: 10px;

        .nav-link {
            color: #000;
        }

        &.active, &:hover {
            background-color: @main_color;

            .nav-link {
                color: #fff;
            }
        }
    }
}

main {
    padding: 0 @padd_size;
}
.posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    &__card {
        border: 1px solid;

        p {
            text-align: center;
            line-height: 40px;
            color: #fff;
            margin: 0;
        }

        &--red{
            border-color: @red;
            p {
                background-color: @red;
            }
        }
        &--blue{
            border-color: @blue;
            p {
                background-color: @blue;
            }
        }
        &--orange{
            border-color: @orange;
            p {
                background-color: @orange;
            }
        }
        &--green{
            border-color: @green;
            p {
                background-color: @green;
            }
        }
    }
    
    &__img {
        width: 100%;
    }
}

footer {
    margin-top: 30px;
    padding: 0 @padd_size;
    
    p {
        line-height: 40px;
        color: #fff;
        padding-left: 20px;
        background-color: @footer_color;
    }
}

@media screen and (min-width: 767.98px) and (max-width: 991.98px) {
    .navbar {
        padding: 0 @tablet_padd_size;
    }
    main {
        padding: 0 @tablet_padd_size;
    }
    footer {
        padding: 0 @tablet_padd_size;
    }
}

@media screen and (min-width: 767.98px) {
    .posts {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
