h1, p:not(.text) {
  color: #349AD3;
}
img {
  width: 100%;
}
.img_block {
  width: 50%;
  margin: 0 auto;
}

.bill_box {
  width: 70%;
  margin: 30px auto 0;
  display: flex;
  justify-content: space-between;

  .wins {
    font-size: 70px;
    margin: 0;
  }
}

.round_log, .text {
  text-align: center;
}

.btn_play {
  display: block;
  margin: 10px auto;
}
.btn {
  padding: 20px 40px;
  font-size: 20px;
  font-weight: bold;
  border: 3px solid;
  border-radius: 7px;
  outline: none;
  background-color: #fff;
  cursor: pointer;
  transition: all .2s linear;

  &_play{
    border-color: #3A8D3A;
    color: #3A8D3A;

    &:hover {
      background-color: #3A8D3A;
      color: #fff;
    }
  }
  &_rock, &_covers, &_paper {
    border-color: #349AD3;
    color: #349AD3;

    &:hover {
      background-color: #349AD3;
      color: #fff;
    }
  }
}

.btn_group {
  display: flex;
  justify-content: space-around;
}

.hide {
  display: none;
}
